.container {
  margin: 20px auto;
  width: 900px;
  padding: 0px 20px 20px 20px;
}

label {
  display: inline-block;
  text-align: left;
  width: 60px;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
  text-decoration: underline ;
  color: #CC7700;
}

h2 {
  color: #017933;
  margin: -5px 0px;
  padding: -5px 0px;
}

li {
  padding-bottom: 20px;
}

#miles {
  display: inline-block;
  position: relative;
  width: 80px;
}

.field {
  display: inline-block;

}

button {
  margin: 5px;
  border-radius: 6px;
  background-color: white;
  border-color: white;
  outline-style: none;
  border-style: none;
}

#btn-submit {

  border-radius: 2px;
  background-color: forestgreen;
  border-color: white;
  outline-style: none;
  border-style: none;
  color: white;
}

button:hover {
  box-shadow: 4px 4px 4px forestgreen;
  border-radius: 6px;

}

a {
  font: bold 1.5em helvetica;
  color: green;
  text-decoration: none;
}

input {
  display: block;
  margin-bottom: 7px;
  padding: 3px;
  width: 250px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid black;
  color: #a54422;
  border-radius: 5px;
}
