<div class="container">
  <h1>Welcome to Trailing</h1>
  <form action='/trails' method='post'>
    <label for='location'></label>
    <input type='text' name='location' id='location'>
    <label for='activity'></label>
    <input type='text' name='activity' id='activity'>
    <label for='range'></label>
    <input type='text' name='range' id='range'>
  </form>

</div>
