<div class="container ">
  <h1><%= @activity.capitalize %> Locations:</h1>

  <% if @places != [] %>
  <% p @places.body %>
    <% @places.body['places'].each do |place| %>
      <h2><%= place['name'] %> </h2>
      <ul>
        <li><%= place['description'] %></li>
      </ul>
    <% end %>
  <% else  %>
    <p>Nothing here :( Maybe plant a tree?</p>
  <% end %>
</div>
